.fondo-todo {
    background-image: url(./assets/img/fondos/fondo-todo.jpg);
  }
  
  .fondo-claro {
    background-image: url(./assets/img/fondos/fondoclarobody3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fondo-nav {
    background-image: url(./assets/img/fondos/fondo-nav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fondo-logo {
    background-image: url(./assets/img/fondos/fondo-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fondo-main {
    background-image: url(./);
    background-position: center;
    background-size: cover;
  }
  
  .fondo-titulo {
    background-color: rgba(1, 31, 3, 0.582);
    padding: 5px;
    border-radius: 7px;
  }
  
  .fondo-titulop {
    background-color: rgba(255, 255, 255, 0.87);
    padding: 5px;
    border-radius: 7px;
  }
  .fondo-tienda {
    background-color: rgba(119, 119, 2, 0.26);
    padding: 5px;
    border-radius: 7px;
  }
  .fondo-loging {
    background-image: url(./);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fondo-h1 {
    background-color: rgba(10, 53, 1, 0.63);
    padding: 5px;
    border-radius: 7px;
  }
  .fondo-h3 {
    background-color: rgba(10, 53, 1, 0.63);
    padding: 5px;
    border-radius: 7px;
  }
  .fondo-resultado {
    background-image: url(./assets/img/fondos/marco-hecho-de-cuentas-de-dólar-13429220.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }