.fondo-todo {
    background-image: url(./assets/img/fondos/fondo-todo.jpg);
  }
  
  .fondo-nav {
    background-image: url(./assets/img/fondos/fondo-nav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fondo-logo {
    background-image: url(./assets/img/fondos/fondo-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fondo-main {
    background-image: url(./);
    background-position: center;
    background-size: cover;
  }
  
  .fondo-titulo {
    background-color: rgba(1, 31, 3, 0.582);
    padding: 5px;
    border-radius: 7px;
  }
  
  .fondo-titulop {
    background-color: rgba(58, 45, 0, 0.466);
    padding: 5px;
    border-radius: 7px;
  }
  
  .fondo-loging {
    background-image: url(./);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fondo-h1 {
    background-color: rgba(10, 53, 1, 0.63);
    padding: 5px;
    border-radius: 7px;
  }
  .fondo-h3 {
    background-color: rgba(10, 53, 1, 0.63);
    padding: 5px;
    border-radius: 7px;
  }