.navbar-nav .nav-item .nav-link {
  color: #00ff00; }

.navbar-nav .nav-item .nav-link:hover {
  color: #fafafa; }


.navbar-toggler {
  border: var(--bs-border-width) solid #006b05 !important; }

.navbar-toggler-icon {
  background-color: #00ff0041; }

.hover:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 10px;
}
.hovergreen:hover{
  transform: scale(1.1);
  background-color: rgba(0, 255, 0, 0.253);
  border-radius: 10px;
}
