.navbar-nav .nav-item .nav-link {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #CCC5B9; 
}

.navbar-nav .nav-item .nav-link:hover {
  color: #08fa00; 
}

  .navbar {
    padding: 10px 0;
    }
    
    .navbar-toggler {
      background-color: #1a1a1a;
      border: var(--bs-border-width) solid #50ff40 !important; }
    
    .navbar-toggler-icon {
      width: 1rem !important;
      height: 1rem !important;
      vertical-align: inherit;
      background-color: #1c8801; }