  .contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
  }
  
  .titulo {
    font-size: 24px;
    padding: 20px 0;
  }
  
  .contenedor-noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
  }
  
  .card .textos {
    height: 100%;
    color: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
  
  .banner {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .banner ul {
    list-style: none;
  }
  
  .banner ul li {
    margin: 15px;
    font-weight: bold;
  }
  
  .banner .boton {
    background: #1efa0193;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }
  .notitext {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 4px rgba(34, 197, 2, 0.39);
  }