* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./assets/img/fondos/fondo-todo.jpg);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 2vh;
  min-height: 100vh; }

header {
  display: flex;
  flex-direction: column; }

main {
  display: flex;
  flex-direction: column;
  min-height: 75vh; }

footer {
  height: 10vh;
  padding: 0;
  margin-top: auto; }

a {
  text-decoration: none;
  color: white; }

h3 {
  color: #1efa01;
  text-align: center; }

.text {
  color: #1efa01; }

.hoover-logo {
  overflow: hidden; }

.logo:hover {
  transform: scale(1.2); }

li {
  text-decoration: none; }

ul {
  text-decoration: none; }

.fondo-todo {
  background-image: url(./assets/img/fondos/fondo-todo.jpg); }

.fondo-nav {
  background-image: url(./assets/img/fondos/fondo-nav.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.fondo-logo {
  background-image: url(./assets/img/fondos/fondo-logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.fondo-main {
  background-image: url(./);
  background-position: center;
  background-size: cover; }

.fondo-titulo {
  background-color: rgba(1, 31, 3, 0.582);
  padding: 5px;
  border-radius: 7px; }

.fondo-titulop {
  background-color: rgba(58, 45, 0, 0.466);
  padding: 5px;
  border-radius: 7px; }

.fondo-loging {
  background-image: url(./);
  background-size: cover;
  background-repeat: no-repeat; }

.fondo-h1 {
  background-color: rgba(10, 53, 1, 0.63);
  padding: 5px;
  border-radius: 7px; }

.fondo-h3 {
  background-color: rgba(10, 53, 1, 0.63);
  padding: 5px;
  border-radius: 7px; }

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px; }

.titulo {
  font-size: 24px;
  padding: 20px 0; }

.contenedor-noticias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center; }

.card .textos {
  height: 100%;
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.banner ul {
  list-style: none; }

.banner ul li {
  margin: 15px;
  font-weight: bold; }

.banner .boton {
  background: #1efa0193;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  cursor: pointer; }

.navbar-nav .nav-item .nav-link {
  color: #00ff00; }

.navbar-nav .nav-item .nav-link:hover {
  color: #fafafa; }

.navbar-toggler {
  border: var(--bs-border-width) solid #006b05 !important; }

.navbar-toggler-icon {
  background-color: #00ff0041; }

.hover:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 10px; }

.hovergreen:hover {
  transform: scale(1.1);
  background-color: rgba(0, 255, 0, 0.253);
  border-radius: 10px; }

/*# sourceMappingURL=styles.css.map */
