* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./assets/img/fondos/fondo-todo.jpg);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 2vh;
  min-height: 100vh; }

header {
  display: flex;
  flex-direction: column; }

main {
  display: flex;
  flex-direction: column;
  min-height: 75vh; }

footer {
  height: 10vh;
  padding: 0;
  margin-top: auto; }

a {
  text-decoration: none;
  color: white; }

h3 {
  color: #1efa01;
  text-align: center; }

.text {
  color: #1efa01; }

.hoover-logo {
  overflow: hidden; }

.logo:hover {
  transform: scale(1.2); }

li {
  text-decoration: none; }

ul {
  text-decoration: none; }

img {
  max-width: 100%; }

.hover:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 10px; }

.hovergreen:hover {
  transform: scale(1.1);
  background-color: rgba(0, 255, 0, 0.253);
  border-radius: 10px; }

.hovergold:hover {
  transform: scale(1.1);
  background-color: rgba(251, 255, 0, 0.13);
  border-radius: 10px;
  color: yellow; }

.calculator {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  margin: 100px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

#display {
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  background-color: #444;
  color: #fffb00;
  border: none;
  border-radius: 5px;
  padding: 5px; }

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }

button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: #666;
  color: #00ff00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; }

button:hover {
  background-color: #555; }

.fondo-todo {
  background-image: url(./assets/img/fondos/fondo-todo.jpg); }

.fondo-nav {
  background-image: url(./assets/img/fondos/fondo-nav.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.fondo-logo {
  background-image: url(./assets/img/fondos/fondo-logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.fondo-main {
  background-image: url(./);
  background-position: center;
  background-size: cover; }

.fondo-titulo {
  background-color: rgba(1, 31, 3, 0.582);
  padding: 5px;
  border-radius: 7px; }

.fondo-titulop {
  background-color: rgba(58, 45, 0, 0.466);
  padding: 5px;
  border-radius: 7px; }

.fondo-loging {
  background-image: url(./);
  background-size: cover;
  background-repeat: no-repeat; }

.fondo-h1 {
  background-color: rgba(10, 53, 1, 0.63);
  padding: 5px;
  border-radius: 7px; }

.fondo-h3 {
  background-color: rgba(10, 53, 1, 0.63);
  padding: 5px;
  border-radius: 7px; }

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px; }

.titulo {
  font-size: 24px;
  padding: 20px 0; }

.contenedor-noticias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center; }

.card .textos {
  height: 100%;
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.banner ul {
  list-style: none; }

.banner ul li {
  margin: 15px;
  font-weight: bold; }

.banner .boton {
  background: #1efa0193;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  cursor: pointer; }

.navbar-nav .nav-item .nav-link {
  color: #00ff00; }

.navbar-nav .nav-item .nav-link:hover {
  color: #fafafa; }

.navbar-toggler {
  border: var(--bs-border-width) solid #006b05 !important; }

.navbar-toggler-icon {
  background-color: #00ff0041; }

*::after,
*::before,
body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Lato'; }

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #000; }

.icon-cart:hover {
  cursor: pointer; }

img {
  max-width: 100%; }

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0; }

.container-icon {
  position: relative; }

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

#contador-productos {
  font-size: 12px; }

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8; }

.titulo-producto-carrito {
  font-size: 20px; }

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px; }

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px; }

.icon-close {
  width: 25px;
  height: 25px; }

.icon-close:hover {
  stroke: red;
  cursor: pointer; }

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px; }

.cart-total h3 {
  font-size: 20px;
  font-weight: 700; }

.total-pagar {
  font-size: 20px;
  font-weight: 900; }

.hidden-cart {
  display: none; }

/* Main */
.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }

.item {
  border-radius: 10px; }

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all .5s; }

.item figure {
  overflow: hidden; }

.item:hover img {
  transform: scale(1.2); }

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px; }

.price {
  font-size: 18px;
  font-weight: 900; }

.info-product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
